<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShareVocabulary</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- Sorting for Tables -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <!-- Bootstrap Script Dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Some Custom Style -->
    <style>
        body { text-align: center; margin-top: 50px;}
    </style>

    <style>
        body { text-align: center; margin-top: 50px;}

        .table th{
            background-color: lightsalmon;
            font-weight: bold;
            text-align: center;
        }

    </style>

</head>
<body>
<div th:remove="tag">

    <br>
    <br>

    <h2>Check Boxes to select vocabularys.</h2>
    <h4>Filter:</h4>
    <div class="container">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
    </div>
    <br>
    <div class="container">
        <table class="table table-striped" data-toggle="table">

            <thead>
            <tr>

                <th  data-sortable="true">German Vocabulary</th>
                <th  data-sortable="true">English Vocabulary</th>
                <th  data-sortable="true">Share</th>
            </tr>
            </thead>
            <!-- Iterate through all entries using th:each -->
            <tbody id="myTable">
            <th:block th:each="entry : ${overview}">

                <tr>
                    <td ><span th:text="${entry.german_word}"></span></td>
                    <td ><span  th:text="${entry.engl_trans}"></span></td>


                    <td > <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" th:id="${entry.id}" th:name="${entry.id}">
                        <label class="custom-control-label" th:for="${entry.id}"></label>
                    </div>


                       <!-- <a th:data-sortby="${entry}" type="button" class="btn btn-info btn-sm" th:href="@{/user/edit_tag/edit/{ID}  (ID=${entry.id})} " role="button"> append </span>
                    </a> -->
                    </td>

                </tr>
            </th:block>
            </tbody>
        </table>
    </div>


    <p><a href="/user">back</a></p>

</div>

<script>



    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });


    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var engl = button.data('english') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)

        modal.find('.modal-body input').val(engl)

    })

    $(document).ready(function(){

        $("#sel1").on("click", function () {
            var selected = $('#sel1 option:selected').text().toLowerCase();

            if (selected == "all") {
                selected = "";
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(selected) > -1)
                });
            }
            else{


                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(selected) > -1)
                });
            }
        });

    });


</script>

</body>
</html>